  .navbar {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100% !important;
  }

  .navbar .container {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar {
    background-color: #232c3d;
  }

  .navbar-brand {
    color: white;
  }

  .input-group input {
    text-align: center; /* Yazıyı ve ikonu ortalar */
    font-size: 16px; /* Yazı boyutunu ayarlar */
    padding-left: 0; /* Sol boşluğu sıfırlar */
  }

  input::placeholder {
    text-align: center;  /* Yatayda ortalar */
    line-height: normal; /* Dikeyde hizalamayı korur */
    opacity: 0.7; /* Placeholder rengini biraz soluk yapar (opsiyonel) */
  }