  .navbar {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100% !important;
  }

  .navbar .container {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar {
    background-color: #232c3d;
  }

  .navbar-brand {
    color: white;
  }

  .input-group input {
    text-align: center; /* Yazıyı ve ikonu ortalar */
    font-size: 16px; /* Yazı boyutunu ayarlar */
    padding-left: 0; /* Sol boşluğu sıfırlar */
  }

  #login-btn {
    background-color: coral;
    border-radius: 12px;
    padding: 8px 16px;
    border: none;

    margin-right: 10px;
    /* Butonlar arasına boşluk ekler */
  }

  #login-btn:hover {
    background-color: palegreen;
  }

  #register-btn {
    background-color: palegreen;
    border-radius: 12px;
    padding: 8px 16px;
    border: none;
  }

  #register-btn:hover {
    background-color: coral;
  }