<div class="news-manager-container">
    <!-- Arama Alanı -->
    <div class="search-bar">
        <input type="text" placeholder="Haber Ara..." [(ngModel)]="searchText">
        <button (click)="onSearch()">
            <i class="fas fa-search"></i>
        </button>
    </div>

    <!-- Haber Ekleme Formu -->
    <div class="add-news-form">
        <input type="text" placeholder="Haber Başlığı" [(ngModel)]="newNews.title">
        <select class="custom-select" [(ngModel)]="newNews.authorId">
            <option *ngFor="let author of authors" [ngValue]="author.id">
                {{ author.firstName }} {{ author.lastName }}
            </option>
        </select>

        <select class="custom-select" [(ngModel)]="newNews.categoryId">
            <option *ngFor="let category of categories" [ngValue]="category.id">
                {{ category.name }}
            </option>
        </select>


        <textarea rows="3" placeholder="Haber İçeriği" [(ngModel)]="newNews.content"></textarea>
        <input type="text" placeholder="Resim URL'si" [(ngModel)]="newNews.imageUrl">
        <button (click)="addNews()">Haber Ekle</button>
        <button (click)="updateNews()">Haber Güncelle</button>
    </div>

    <!-- Haber Listesi -->
    <div class="news-list">
        <div class="news-card" *ngFor="let news of filteredNewsList()">
            <img [src]="news.imageUrl" alt="Haber Resmi">
            <h3>{{ news.title }}</h3>
            <div class="news-date">{{ news.publishDate| date:'mediumDate' }}</div>
            <div class="actions">
                <button class="edit" (click)="editNews(news)">Güncelle</button>
                <button class="delete" (click)="deleteNews(news)">Sil</button>
            </div>
        </div>
    </div>
</div>