<div class="row">
    <div class="col">
        <!-- Kategoriler Başlığı -->
        <div class="category-header">
            <h4 class="category-title">Kategoriler</h4>
        </div>

        <div class="list-group category-list" id="list-tab" role="tablist">
            <a (click)="setCurrentCategory(category)"
               *ngFor="let category of categories"
               id="list-home-list"
               [routerLink]="category.id === 0 ? '/news' : '/news/category/' + category.id"
               data-coreui-toggle="list" 
               role="tab" 
               aria-controls="list-home"
               class="category-item text-white"
               [style.backgroundColor]="getCategoryColor(category.name)">
                {{ category.name }}
            </a>
        </div>
    </div>
</div>

<!-- class="category-item text-white"
        [style.backgroundColor]="getCategoryColor(category.name)">
-->
