<!-- <div class="row">
    <div class="col">
        <div class="category-header">
            <h4 class="category-title">Kategoriler</h4>
        </div>

        <div class="list-group category-list" id="list-tab" role="tablist">
            <a (click)="setCurrentCategory(category)" *ngFor="let category of categories" id="list-home-list"
                data-coreui-toggle="list" role="tab" aria-controls="list-home" class="category-item text-white"
                [style.backgroundColor]="getCategoryColor(category.name)">
                {{ category.name }}
            </a>
        </div>
    </div>
</div> -->

<div class="category-section">
    <h2 class="category-title">Kategoriler</h2>
    <div class="category-list">
        <div class="category-item" *ngFor="let category of categories">
            <div class="category-badge" [ngStyle]="{'background-color': category.color}">
                <i class="fa" [ngClass]="category.icon"></i>
                <span>{{ category.name }}</span>
            </div>
        </div>
    </div>
</div>