<div class="row">
    <div class="col">
        <!-- Kategoriler Başlığı -->
        <div class="category-header">
            <h4 class="category-title">Kategoriler</h4>
        </div>

        <div class="list-group category-list" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action category-item" 
                id="list-home-list" 
                data-coreui-toggle="list"
                href="#list-home" role="tab" aria-controls="list-home"
                *ngFor="let category of categories">
                {{ category.name }}
            </a>
        </div>
    </div>
</div>
